<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script href="/JS/tools.js"></script>
  <link rel="stylesheet" type="text/css" href="../../CSS/toolStyle/toolStyleTemplate.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
  <div class="boxFrameTemplate" style="height: 150px;"> <!-- Change the height to the height of the tool you want. -->
    <div class="toolBarTemplate" style="height: 150px;">
      <span onclick="closeThisTool(this)" class="moveToolTemplate" title="Close"><i class="fas fa-times"></i></span>
      <span onclick="moveTool(this)" class="moveToolTemplate" title="Up"><i class="fas fa-sort-up"></i></span>
      <span onclick="moveTool(this)" class="moveToolTemplate" title="Down"><i class="fas fa-sort-down"></i></span>
    </div>
    <!-- MAIN AREA FOR THE TOOL -->
    <div>
      <!-- <p style="color: red">TEMPLATE TOOL</p> -->
    </div>


  </div>
</body>
</html>