$darkTheme: (
  dark0: rgb(15, 15, 15),
  dark1: #202225,
  dark2: #292b2f,
  dark3: #36393f,
  dark4: #2f3136,
  dark5: rgb(60, 63, 70),
  dark6: rgb(75, 80, 90),
  dark7: rgb(91, 97, 109),
  dark8: #b9bbbe,

  darkdropdown: rgb(23, 24, 27),
  darkReimagined: #404040,
);
$darkThemeOLD: (
  dark0: rgb(5, 5, 5),
  dark1: rgb(22, 22, 22),
  dark2: rgb(30, 30, 30),
  dark3: rgb(40, 40, 40),
  dark4: rgb(50, 50, 50),
  dark5: rgb(70, 70, 70),
  dark6: rgb(90, 90, 90),
  dark7: rgb(110, 110, 110),

  darkdropdown: rgb(27, 27, 27),

  darkReimagined: #404040
);

$lightTheme: (
  light1: rgb(250, 250, 250),
  light2: rgb(240, 240, 240),
  light3: rgb(230, 230, 230),
  light4: rgb(220, 220, 220),
  light5: rgb(190, 190, 190),
  light6: rgb(180, 180, 180),
  light7: rgb(170, 170, 170),
  light8: rgb(150, 150, 150)
);

$colorTheme: (
  colorBlue: rgb(27, 67, 100),
  colorYellow: rgba(214, 211, 3, 0.637),
  colorLightBlue: rgb(64, 130, 184),
  colorHover: rgb(70, 154, 194),
);

//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- D R A W   P A G E      drawstyle
#overflowBackground {
  position: absolute;
  background: rgb(90, 90, 90);
  width: 100%;
  height: 100%;
}


#canvas {
  margin-top: 30px;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  height: 500px;
  width: 500px;
  top: calc((100vh - 530px) / 2);
  left: calc((100vw - 500px) / 2);
}


#drawToolBar {
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 40px;
  margin-left: calc((100vw - 600px) / 2);
  background-color: lightgrey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #333;
  margin-top: 0;
  z-index: 5;
}

.toolBtn {
  background-color: map-get($lightTheme, light1);
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  border: none;
  cursor: pointer;
  .dark-theme & {
    background-color: map-get($darkTheme, dark3);
    color: map-get($lightTheme, light1);
  }
}
#drawToolBar span button:hover {
  opacity: 0.8;
}