homepageBox=Duplicate This Panel*,Panel Setup*,Change Image*
alphariumFolder=Open*,Open New Panel*,Open New Window*,Add to Files Dropdown*,Secure Folder*,Copy*,Rename,Delete*,Share*
fileContainer=New Folder*,New File*,New Panel*,Refresh*
panelShortcut=Open,Open in New Panel*,Open in New Window,Close,Secure*
internet=Google*,DuckDuckGo*,-
dropdownMain=Create New*,Refresh
logoutBtn=Logout,Logout to Pin
panelManager=View Panel Overview*,Close All Panels*,Clear Everything*