homepageBox=Duplicate This Panel*,Panel Setup*,Change Image*
alphariumFolder=Open,Open New Panel*,Open New Window*
alphariumFile=Open in Notes
alphaDrive=Add to Files Dropdown*,Secure Folder*,Rename,Delete*,Share*
fileContainer=New Folder,New File,New Panel*,Refresh,Paste
panelShortcut=Open,Open in New Panel*,Open in New Window,Close,Secure*
internet=Google,DuckDuckGo,-
dropdownMain=Create New*,Refresh
panelManager=View Panel Overview*,Close All Panels*,Clear Everything*