homepageBox=New Canvas*,Panel View,Change Image*,Split*
alphariumFolder=Open,Open New Panel*,Open New Window*
alphariumFile=Open in Notes
alphaDrive=Add to Files Dropdown*,Secure Folder*,Rename,Delete*,Share*
fileContainer=New Folder,New File,New Panel*,Refresh,Paste
panelShortcut=Open,Open in New Panel*,Open in New Window,Close,Secure,-,Split*
internet=Google,DuckDuckGo,-
dropdownMain=Create New*,Refresh
panelManager=View Open Panels ,Close All Panels